<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Header de la pestaña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar>
      <ion-title>Inline Toast</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button id="open-toast" expand="block">Abrir</ion-button>
    <p id="message">Este ejemplo de toast abre un Disclaimer presionando un boton y desaparecera en 5 segundos.</p>
    <ion-toast trigger="open-toast" message="Este Disclaimer desaparecera en 5 segundos" [duration]="5000"></ion-toast>
  </ion-content>
  
</ion-content>
